@model SceneCrm.Entities.Volunteer

@{
    ViewBag.Title = "Volunteer Details";
}

<h2>Volunteer Details</h2>

<fieldset>
    <legend>Volunteer</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.FirstName @Model.Surname</div>

    <div class="display-label">Partner</div>
    <div class="display-field">@Model.PartnerFirstName @Model.PartnerSurname</div>

    <div class="display-label">Referrals</div>
    <div class="display-field">
      @if (Model.Referrals != null)
      {
          foreach (var referral in Model.Referrals)
          {
                @Html.ActionLink(referral.Name, "Details", "Volunteer", new { id = referral.VolunteerId }, null)
                <br />
          }
      }
    </div>

    <div class="display-label">ReferredBy</div>
    <div class="display-field">
      @if (Model.ReferredBy != null)
      {
            @Html.ActionLink(Model.ReferredBy.Name, "Details", "Volunteer", new { id = Model.ReferredByVolunteerId }, null)
      }
    </div>

    <div class="display-label">IsEligible</div>
    <div class="display-field">@Model.IsEligible</div>

    <div class="display-label">CrbExpiry</div>
    <div class="display-field">@Model.CrbExpiry - @(Model.HasValidCrbCheck ? "Valid" : "Does not currently have valid CRB")</div>


    <div class="display-label">PerformanceAttended</div>
    <div class="display-field">@Model.PerformanceAttended</div>

    <div class="display-label">AvailableFrom</div>
    <div class="display-field">@String.Format("{0:g}", Model.AvailableFrom)</div>

    <div class="display-label">Notes</div>
    <div class="display-field">@Model.Notes</div>

    <div class="display-label">Telephone</div>
    <div class="display-field">@Model.Telephone</div>

    <div class="display-label">Mobile</div>
    <div class="display-field">@Model.MobilePhone</div>

    <div class="display-label">EmailAddresses</div>
    <div class="display-field">
    @Model.EmailAddress
    <br />
    @Model.EmailAddress2
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">@Model.Address @Model.Postcode</div>

    <div class="display-label">CvWebUrl</div>
    <div class="display-field">@Model.CvWebUrl</div>

    <div class="display-label">SpotlightNumber</div>
    <div class="display-field">@Model.SpotlightNumber</div>

    <div class="display-label">AgentName</div>
    <div class="display-field">@Model.AgentName</div>

    <div class="display-label">Organisation</div>
    <div class="display-field">@Model.Organisation</div>

    <div class="display-label">EyesEars</div>
    <div class="display-field">@Model.EyesEars</div>

    <div class="display-label">Schools</div>
    <div class="display-field">@Model.Schools</div>

    <div class="display-label">Trustee</div>
    <div class="display-field">@Model.Trustee</div>

    <div class="display-label">Deadwood</div>
    <div class="display-field">@Model.Deadwood</div>

    <div class="display-label">NoMailout</div>
    <div class="display-field">@Model.NoMailout</div>

    <div class="display-label">EEDirectDebit</div>
    <div class="display-field">@Model.EEDirectDebit</div>

</fieldset>

<fieldset>
    <legend>Courses</legend>
    @if (Model.CourseVolunteers.Count() == 0)
    {
        <h3>
            No courses</h3>
    }
    @foreach (var cv in Model.CourseVolunteers)
    {
        @Html.ActionLink(cv.Course.DisplayName, "Details", "Course", new { id = cv.CourseId }, null)<br />
    }
</fieldset>

<fieldset>
    <legend>Plays</legend>
    @if (Model.PlayVolunteers.Count() == 0)
    {
        <h3>
            No Plays</h3>
    }
    @foreach (var cv in Model.PlayVolunteers)
    {
        @Html.ActionLink(cv.Play.Title, "Details", "Play", new { id = cv.PlayId}, null) @: - @cv.Job.Description <br />
    }
</fieldset>


<fieldset>
    <legend>Productions</legend>
    @if (Model.ProductionVolunteers.Count() == 0)
    {
        <h3>
            No Productions</h3>
    }
    @foreach (var cv in Model.ProductionVolunteers)
    {
        @Html.ActionLink(cv.Production.Title, "Details", "Production", new { id = cv.ProductionId }, null)@: - @cv.Job.Description <br />
    }
</fieldset>


<fieldset>
    <legend>CRB History</legend>
    @if (Model.CrbChecks.Count() == 0)
    {
        <h3>No CRB History</h3>
    }
    else
    {
        <table>
            <tr>
                <th>
                    CRB number
                </th>
 
                <th>
                    Application Date
                </th>
                <th>
                    Application Sent
                </th>
                <th>
                    Approval Date
                </th>
                <th>
                    Approved?
                </th>
            </tr>

        @foreach (var crb in Model.CrbChecks)
        {
            <tr>
            
                <td>@crb.CrbNumber</td>
                <td>@crb.ApplicationDate</td>
                <td>@crb.ApplicationSent</td>
                <td>@crb.ApprovalDate</td>
                <td>@crb.Approved</td>
            </tr>
        
        }
    </table>
    }
</fieldset>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VolunteerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


