@model IEnumerable<SceneCrm.Entities.Volunteer>

@{
    ViewBag.Title = "Eligible Volunteers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EligibleVolunteers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            FirstName
        </th>
        <th>
            Surname
        </th>
        <th>
            Is Eligible
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEligible ? "Is Eligible" : "Not Eligible")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VolunteerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VolunteerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VolunteerId })
        </td>
    </tr>
}

</table>
