@model IEnumerable<SceneCrm.Entities.Volunteer>

@{
    ViewBag.Title = "Index";
}


<h2>Volunteer List</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "button big" })
    <br />
    <div class="button-group">
    @Html.ActionLink("Eligible Volunteers", "Eligible", new { IsEligible= true }, new { @class = "button pill" })
    @Html.ActionLink("Non Eligible Volunteers", "Eligible", new { IsEligible = false }, new { @class = "button pill" })
    </div>
    
</p>
<p>

@using (Html.BeginForm("Search","Volunteer", FormMethod.Post))  {
    
   @:Search:
    <input type='text' value='' name='searchPhrase' />
    <input type="submit" value="Search" class="button"/>
}    


</p>
<table>
    <tr>
        <th>
            First Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Performance Attended
        </th>
        <th>
            Available From
        </th>
        <th>
            Course Volunteers
        </th>
        <th>
            Crb Expiry
        </th>
        <th>
            Play Volunteers
        </th>
        <th>
            Production Volunteers
        </th>
        <th>
            Jobs
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.FirstName
        </td>
        <td>
            @item.Surname
        </td>
        <td>
            @item.PerformanceAttended
        </td>
        <td>
            @String.Format("{0:d}", item.AvailableFrom)
        </td>
        <td>
            @(item.CourseVolunteers == null ? "None" : item.CourseVolunteers.Count.ToString())
        </td>
        <td>
            @(item.CrbExpiry)
        </td>
        <td>
            @(item.PlayVolunteers == null ? "None" : item.PlayVolunteers.Count.ToString())
        </td>
        <td>
            @(item.ProductionVolunteers == null ? "None" : item.ProductionVolunteers.Count.ToString())
        </td>
        <td>
            @(item.Jobs == null ? "None" : item.Jobs.Count.ToString())
        </td>
        <td>
        <div class="button-group">
            @Html.ActionLink("Edit", "Edit", new { id = item.VolunteerId }, new { @class = "button primary pill icon edit" }) 
            @Html.ActionLink("Details", "Details", new { id = item.VolunteerId, }, new { @class = "button pill icon log" })
            @Html.ActionLink("Delete", "Delete", new { id = item.VolunteerId, }, new {  @class = "button pill icon trash" })
        </div>
        </td>
    </tr>
}

</table>