@model IEnumerable<SceneCrm.Entities.Production>
@{
    ViewBag.Title = "Production Index";
}
<h2>
    Production Index</h2>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "button big" })
</p>
<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Play Count
        </th>
        <th>
            Performance Count
        </th>
        <th>
            Student Count
        </th>
        <th>
          
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.Plays.Count()
            </td>
            <td>
                @item.Performances.Count()
            </td>
            <td>
                @item.AssociatedStudents.Count()
            </td>
          @*  <td>
                @item.AllAssociatedVolunteers.Count()
            </td>*@
            <td>
             <div class="button-group">
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductionId }, new { @class = "button primary pill icon edit" }) 
                @Html.ActionLink("Details", "Details", new { id = item.ProductionId }, new { @class = "button primary pill icon log" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductionId }, new { @class = "button primary pill icon trash" })
                </div>
            </td>
            
        </tr>
    }
</table>
