@model SceneCrm.Entities.Play
@{
    ViewBag.Title = "Play Details - " + Model.Title;
}
<fieldset>
    <legend>Play - @Model.Title</legend>
    <div class="display-label">
        Student</div>
    <div class="display-field">

     @if (Model.Production != null)
        {
            @Html.ActionLink(Model.Student.Name, "Details", "Student", new { id = Model.StudentId }, null)
        }
    </div>
    <div class="display-label">
        Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-label">
        Production</div>
    <div class="display-field">
        @if (Model.Production != null)
        {
            @Html.ActionLink(Model.Production.Title, "Details", "Production", new { id = Model.Production.ProductionId }, null)
        }
    </div>
</fieldset>

<fieldset>
    <legend>Volunteers</legend>
    @if (Model.PlayVolunteers.Count() == 0)
    {
        <h3>
            No volunteers</h3>
    }
    @foreach (var volunteer in Model.PlayVolunteers.OrderBy(x=>x.Job.Description))
    {
        @Html.ActionLink(volunteer.Volunteer.Name, "Details", "Volunteer", new { id = volunteer.VolunteerId }, null) @:-  @volunteer.Job.Description <br />
    }
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayId }) |
    @Html.ActionLink("Back to List", "Index")
</p>