@model SceneCrm.Entities.Student

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.MembershipNumber)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.MembershipNumber)
    @Html.ValidationMessageFor(model => model.MembershipNumber)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Forename)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Forename)
    @Html.ValidationMessageFor(model => model.Forename)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Surname)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Surname)
    @Html.ValidationMessageFor(model => model.Surname)
</div>

