@model SceneCrm.Entities.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Student</legend>

    <div class="display-label">Reference</div>
    <div class="display-field">@Model.MembershipNumber</div>

    <div class="display-label">FirstName</div>
    <div class="display-field">@Model.Forename</div>

    <div class="display-label">Surname</div>
    <div class="display-field">@Model.Surname</div>

    <div class="display-label">CourseAttendances</div>
    <div class="display-field">@(Model.CourseAttendances == null ? "None" : Model.CourseAttendances.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


