@model IEnumerable<SceneCrm.Entities.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Student", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Membership #
        </th>
        <th>
            First Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Course Count
        </th>
        <th>
            Play Count
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })
        </td>
        <td>
			@item.MembershipNumber 
        </td>
        <td>
			@item.Forename
        </td>
        <td>
			@item.Surname
        </td>
        <td>
			@(item.CourseAttendances == null ? "None" : item.CourseAttendances.Count.ToString())
        </td>
         <td>
			@(item.Plays == null ? "None" : item.Plays.Count.ToString())
        </td>
    </tr>
}

</table>


