@{
    ViewBag.Title = "Home Page";
}
<style>
    .quickLinks
    {
        
        float: left;
        margin: 10px;
        margin-right: 15px;
    }
    
    .quickLinks li
    {
      font-weight:bold;
      margin: 8px;   
    }
</style>
<h2>@ViewBag.Message</h2>
<p>
    <div style="height: 500px;">
        <h2>
            Quick Links</h2>
        <ul class="quickLinks">
            <li>@Html.ActionLink("Add Student", "Create", "Student")</li>
            <li>@Html.ActionLink("Add Volunteer", "Create", "Volunteer")</li>
            <li>@Html.ActionLink("Add Course", "Create", "Course")</li>
            <li>@Html.ActionLink("Add Play", "Create", "Play")</li>
            <li>@Html.ActionLink("Add Production", "Create", "Production")</li>
            <li>@Html.ActionLink("Add Performance", "Create", "Performance")</li>
        </ul>
        <ul class="quickLinks">
            <li><a href="http://sceneandheard.eventbrite.co.uk">Ticketing System</a></li>
            
        </ul>
        <!--
        <ul class="quickLinks">
            <li>dsasf</li>
            <li>dsasf</li>
        </ul>
        -->
    </div>
</p>
