@model IEnumerable<SceneCrm.Entities.Job>

@{
    ViewBag.Title = "Jobs";
}

<h2>Jobs</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "button big" })
</p>
<table>
    <tr>
       
        <th>
            Description
        </th>
       @* <th>
            Course Volunteers
        </th>
        <th>
            Play Volunteers
        </th>
        <th>
            Production Volunteers
        </th>
        <th>
            Volunteers
        </th>*@
         <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
			@item.Description
        </td>
        @*<td>
			@(item.CourseVolunteers == null ? "None" : item.CourseVolunteers.Count.ToString())
        </td>
        <td>
			@(item.PlayVolunteers == null ? "None" : item.PlayVolunteers.Count.ToString())
        </td>
        <td>
			@(item.ProductionVolunteers == null ? "None" : item.ProductionVolunteers.Count.ToString())
        </td>
        <td>
			@(item.Volunteers == null ? "None" : item.Volunteers.Count.ToString())
        </td>*@
        <td>
        <div class="button-group">
            @Html.ActionLink("Edit", "Edit", new { id = item.JobId }, new { @class = "button primary pill icon edit" })
            @Html.ActionLink("Details", "Details", new { id = item.JobId }, new { @class = "button primary pill icon log" })
            @Html.ActionLink("Delete", "Delete", new { id = item.JobId }, new { @class = "button primary pill icon trash" })
        </div>
        </td>
    </tr>
}

</table>

