@model IEnumerable<SceneCrm.Entities.Performance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Production
        </th>
        <th>
            PerformanceDateTime
        </th>
        <th>
            EventBriteId
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Production.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerformanceDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventBriteId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PerformanceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PerformanceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PerformanceId })
        </td>
    </tr>
}

</table>
