@model SceneCrm.Entities.Course

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.CourseTypeCode)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CourseTypeCode)
    @Html.ValidationMessageFor(model => model.CourseTypeCode)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Year)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Year)
    @Html.ValidationMessageFor(model => model.Year)
</div>

<div class="editor-label">
    Term
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.TermId, ((IEnumerable<SceneCrm.Entities.Term>)ViewBag.PossibleTerms).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.TermId.ToString(),
        Selected = (Model != null) && (option.TermId == Model.TermId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.TermId)
</div>
