@model IEnumerable<SceneCrm.Entities.Course>
@{
    ViewBag.Title = "Index";
}
<h2>Course Index</h2>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "button big" })
</p>
<table>
    <tr>
        <th>
            Course Code
        </th>
        <th>
            Term
        </th>
        <th>
            Year
        </th>
        <th>
            Attendee Count
        </th>
        <th>
            Volunteer Count
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            
            <td>
              
                @item.CourseTypeCode
            </td>
            <td>
                @item.Term.TermName
            </td>
            <td>
                @item.Year
            </td>
            <td>
                @(item.CourseAttendances == null ? "None" : item.CourseAttendances.Count.ToString())
            </td>
            <td>
                @(item.CourseVolunteers == null ? "None" : item.CourseVolunteers.Count.ToString())
            </td>
            <td>
                    <div class="button-group">
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }, new { @class = "button primary pill icon edit" }) 
                @Html.ActionLink("Students", "Students", new { id = item.CourseId }, new { @class = "button primary pill icon edit" }) 
                @Html.ActionLink("Details", "Details", new { id = item.CourseId }, new { @class = "button primary pill icon log" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseId }, new { @class = "button primary pill icon trash" })
                </div>
            </td>
        </tr>
    }
</table>
