@model IEnumerable<SceneCrm.Entities.Course>
@{
    ViewBag.Title = "Index";
}
<h2>Course Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
        </th>
        <th>
            Course Code
        </th>
        <th>
            Term
        </th>
        <th>
            Year
        </th>
        <th>
            Attendee Count
        </th>
        <th>
            Volunteer Count
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
            </td>
            <td>
              
                @item.CourseTypeCode
            </td>
            <td>
                @item.Term.TermName
            </td>
            <td>
                @item.Year
            </td>
            <td>
                @(item.CourseAttendances == null ? "None" : item.CourseAttendances.Count.ToString())
            </td>
            <td>
                @(item.CourseVolunteers == null ? "None" : item.CourseVolunteers.Count.ToString())
            </td>
        </tr>
    }
</table>
