@model SceneCrm.Entities.Course
<h2>
    Course Details - Student Allocation</h2>
<fieldset>
    <legend>Course</legend>
    <div class="display-label">
        CourseTypeCode</div>
    <div class="display-field">@Model.CourseTypeCode</div>
    <div class="display-label">
        Year</div>
    <div class="display-field">@Model.Year</div>
    <div class="display-label">
        CourseType</div>
    <div class="display-field">@Model.CourseType.CourseTypeName</div>
    <div class="display-label">
        Term</div>
    <div class="display-field">@Model.Term.TermName</div>
</fieldset>
@using (Html.BeginForm()) {
    <input type="hidden" value="@Model.CourseId" name="id" />
    <fieldset>
        <legend>Students</legend>
        <div style="float: left;">
            <p>
                All Students</p>
            <select class="dual-list" multiple="multiple" name="PossibleStudents">
                @foreach (var item in ViewBag.PossibleStudents) {
                    <option value="@item.StudentId">@item.Forename @item.Surname</option>
                }
            </select>
        </div>
        <div style="float: left; padding-top: 50px; text-align: center;">
            <input type="submit" name='Verb' value='Add' /><br />
            <input type="submit" name='Verb' value='Remove' />
        </div>
        <div style="float: left;">
            <p>
                Students on this course</p>
            <select class="dual-list" multiple="multiple" name="AllocatedStudents">
                @foreach (var item in ViewBag.AllocatedStudents) {
                    <option value="@item.StudentId">@item.Forename @item.Surname</option>
                }
            </select>
        </div>
    </fieldset>
   
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
