@model IEnumerable<SceneCrm.Entities.CrbCheck>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Volunteer
        </th>
        <th>
            CrbNumber
        </th>
        <th>
            ApplicationSent
        </th>
        <th>
            ApplicationDate
        </th>
        <th>
            Approved
        </th>
        <th>
            ApprovalDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Volunteer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CrbNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationSent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovalDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CrbCheckId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CrbCheckId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CrbCheckId })
        </td>
    </tr>
}

</table>
